body {
    background: #b8b8b8;
}

 #banner {
    width: 100%;
}

.principal {
    background:rgb(0, 107, 111)
    color: #ff0000;
    background:rgb(55, 0, 255)
    text-align: center;
}
    
p {
        text-align: center;
        font-size: 20px;
}

#missao {
    font-size: 30px;
}

em strong {
    color: rgb(10, 0, 203);
}

.itens {
    font-style: italic;

}



.benefícios
 {
    background:rgb(109, 0, 111)
}

h2 {
    text-align: center;
}